<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div>
</div>
<div id="canvasBox"></div>
<div style="top: -100%; position: absolute; z-index: 10000; background: #aaa; width: 100%; opacity: .8;">
		<p style="font-family: 'Helvetica CE 35 Thin';">'Font test HERE' Thin</p>
	</div>
</body>
<script>
    var game = new Wheel.Main().view;
</script>
</html>